{% extends '../layout.html' %}

{% block css %}
{% endblock %}


{% block title %}
<div class="page-title">
    <h1><i class="fa fa-paper-plane fa-lg"></i>&nbsp;{{ title }} <small>电表网关维修</small></h1>
</div>
{% endblock %}

{% block body %}
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-exclamation-circle"></i>&nbsp;任务: <strong>{{ data.title }}</strong>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
            <a href="#portlet-config" data-toggle="modal" class="config">
            </a>
            <a href="javascript:;" class="reload">
            </a>
            <a href="javascript:;" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        {% set task = { task: data } %}
        {% include "_details.html" with task only %}
        <hr />
        <!-- BEGIN FORM-->
        <div class="form-horizontal">
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <a class="btn btn-warning" role="button"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                                {% if data.status == 13 || data.status == 14 %}
                                <a href="/task/audit/{{ data._id }}" class="btn green-jungle" role="button"><i class="fa fa-magic"></i>&nbsp;审核</a>
                                {% endif %}
                                <a href="/task" class="btn btn-primary" role="button"><i class="fa fa-list"></i>&nbsp;回到列表</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </div>
        <!-- END FORM-->
    </div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
    $(function() {
        Minos.menuActive($('#task-index-menu'));
    });
</script>
{% endblock %}