{% extends '../layout.html' %}

{% block body %}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-lock"></i>&nbsp;输入密码
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
            <a href="#portlet-config" data-toggle="modal" class="config">
            </a>
            <a href="javascript:;" class="reload">
            </a>
            <a href="javascript:;" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <form action="/user/changepassword" method="post" class="form-horizontal" id="change-password-form">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    请检查输入.
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    输入验证成功.
                </div>
                {% if error %}
                <div class="alert alert-danger">
                    <button class="close" data-close="alert"></button>
                    <span>
                    {{ error }}</span>
                </div>
                {% endif %}
                <div class="form-group">
                    <label class="col-md-3 control-label">原密码</label>
                    <div class="col-md-6">
                        <input type="password" class="form-control" id="oldpassword" name="oldpassword" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">新密码</label>
                    <div class="col-md-6">
                        <input type="password" class="form-control" id="newpassword" name="newpassword" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">密码确认</label>
                    <div class="col-md-6">
                        <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">保存</button>
                        <button type="reset" class="btn default">取消</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    $(function() {
        Mform.initChangePasswordForm();
    });
</script>
{% endblock %}